/* Conclusion Section */
.conclusion {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin: 50px auto 100px auto;
  height: 90%;
  z-index: 1;
  width: 100%;
  padding: 0 80px;
}

.conclusion_content {
  color: white;
  width: 90%
}

.conclusion_content h1 {
  font-size: 2rem;
  font-family: myFont-secondary;
  text-align: center;
  background: var(--medium-hue);
  background: linear-gradient(to top, var(--font-gray) 0%, var(--font-gray) 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.conclusion_content h2 {
  font-size: 4rem;
  font-family: myFont;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
}

.conclusion_img_container {
  justify-content: center;
  align-items: center;
  display: flex;
}

.conclusion_img {
  margin: 10px;
  height: 500px;
  width: 500px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  object-fit: cover;

  align-items: center;
  color: white;
  background-image: linear-gradient(to right, var(--dark-hue), var(--medium-hue), var(--light-hue));
}

.conclusion_btn {
  margin: 30px auto;
  width: 250px;
  text-align: center;
}

/* Mobile Responsive*/

@media screen and (max-width: 1100px) {
  .conclusion {
    display:grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    height: 90%;
  }

  .conclusion_img_container {
    display:flex;
    justify-content: center;;
  }

  .conclusion_img_card {
    height: 425px;
  }

  .conclusion_content {
    align-self: center;
    justify-self: center;
    text-align: center;
    margin-bottom: 4rem;
  }

  .conclusion_content h1 {
    font-size: 2.5rem;
    margin-top: 2rem;
  }

  .conclusion_content h2 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 430px) {
  .conclusion_img {
    height: 250px;
    width: 250px;
  }

  .conclusion_content h1 {
    font-size: 1.5rem;
    margin-top: 3remx;
  }

  .conclusion_content h2 {
    font-size: 2rem;
  }

  .conclusion_btn {
    font-size: 1.5rem;
  }
}




