@font-face {
    font-family: myFont;
    src:url(../fonts/apple_garamond/AppleGaramond.ttf)
    /*src:url(fonts/ITCGaramondStd/ITCGaramondStd-BookCond.otf)*/
    /*src:url(fonts/ITCGaramondStd/ITCGaramondStd-LtCond.otf)*/
}

@font-face {
    font-family: myFont-Italic;
    src:url(../fonts/apple_garamond/AppleGaramond-Italic.ttf)
    /*src:url(fonts/ITCGaramondStd/ITCGaramondStd-BookCond-Italic.otf) */
    /*src:url(fonts/ITCGaramondStd/ITCGaramondStd-LtCond-Italic.otf)*/
}

@font-face {
    font-family: Poppins;
    src:url(../fonts/Poppins/Poppins-Regular.ttf)
    /*src:url(fonts/ITCGaramondStd/ITCGaramondStd-BookCond-Italic.otf) */
    /*src:url(fonts/ITCGaramondStd/ITCGaramondStd-LtCond-Italic.otf)*/
}

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    /*font-family: Poppins, myFont, Arial;*/
    font-family: myFont, Arial;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

body {
    background-color: black;
    color: white;
}

body::-webkit-scrollbar {
    display:none;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 270vh;
    background-color: black;
    z-index: -100;
}

.main_btn {
  font-size: 1.8rem;
  background: white;
  padding: 20px 60px;
  border: 4px solid transparent;
  border-radius: 50vh;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
}

.main_btn:before {
  position: absolute;
  content: '';
  top: -4px;
  left: -4px;
  width: 100%;
  height: 100%;
  background: transparent;
  border: 4px solid white;
  border-radius: 50vh;
  z-index: 5;
}

.btn_text {
  position: relative;
  z-index: 100;
  color: black;
  text-decoration: none;
}

.main_btn:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: black;
  border-radius: 50vh;
  transition: all 0.35s;
  visibility: hidden;
}

.main_btn:hover .btn_text {
  color: white;
}

.main_btn:hover:after {
  width: 100%;
  visibility: visible;
}

.hidden {
  opacity: 0;
  filter: blur(0px);
  transform: translateY(10%);
  transition: opacity 1s ease-in-out, filter 1s ease-in-out, transform 1s ease-in-out;
  transition-delay: 300ms;
}

@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0%);
}