/* Hero Section */
.hero {
  padding: 80px;
  height: 90% 
}

.hero_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.hero_words {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
  height: 90%;
  padding: 30px;
}

.hero_heading {
  font-size: 100px;
  color: white;
  max-width: 584;
}

.hero_words p {
  font-family: myFont-secondary, Arial;
  font-size: 25px;
  margin: 15px;
  color: var(--font-gray);
}

.hero_scroll {
  font-family: myFont-Italic, Arial;
  font-size: 50px;
  color: white;
  background: var(--medium-hue);
  background: -webkit-linear-gradient(to right, var(--medium-hue), var(--light-hue));
  background: linear-gradient(to right, var(--medium-hue), var(--light-hue));
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.hero_img_container {
  height: 500px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.hero_img {
  position: absolute;
  object-fit: cover;
  height: 500px;
  width: 500px;
  border-radius: 20px;
}

@media screen and (max-width: 1100px) {
  .hero_container {
    grid-template-columns: 1fr;
  }
  .hero_heading {
    font-size: 60px;
  }
  .hero_words {
    font-size: 20px;
  }
  .hero_scroll {
    font-size: 40px;
  }
  .hero_img_container {
    height: 425px;
  }
  .hero_img {
    height: 425px;
    width: 425px;
  }
}

@media screen and (max-width: 430px) {
  .hero {
    padding: 0px;
  }
  .hero_img {
    height: 250px;
  }
  .hero_heading {
    padding: 0 30px;
    font-size: 50px;
  }
  .hero_words p {
    font-size: 17px;
  }
  .hero_scroll {
    font-size: 25px;
  }
  .hero_img_container {
    height: 200px;
  }
  .hero_img {
    height: 200px;
    width: 200px;
  }
}

@media screen and (min-height: 1000px) {
  .hero {
    padding: 120px 80px;
  }
}