/* Projects section */
.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 100px 0;
    position: relative;
  }
  
  .projects h1 {
    background-color: #ff8177;
    background-image: linear-gradient(to right, #ff0844 0%, #f7673c 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-bottom: 5rem;
    font-size: 60px;
    text-align: center;
    padding: 20px;
  }
  
  .projects_wrapper {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  
  .projects_card {
    margin: 10px;
    padding: 0px 40px;
    height: 400px;
    width: 300px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    text-align: center;
    color: #fff;
    background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
  }
  
  /*.projects_card > img {
    inline-size: 100%;
    aspect-ratio: 3 / 4;
    object-fit: cover;
  }*/
  
  
  .projects_wrapper a:nth-child(odd) .projects_card{
    background: #1fa2ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        -225deg,
        #231557 0%,
        #44107a 29%,
        #ff1361 67%,
        #fff800 100%
    ); /* Chrome 10-25, Safari 5.1-6 */
    background-image: linear-gradient(
      -225deg,
      #231557 0%,
      #44107a 29%,
      #ff1361 67%,
      #fff800 100%
    );
  }
  
  .projects_card h2 {
    font-size: 30px;
  }
  
  .projects_card h3 {
    margin-top: 24px;
    font-size: 20px;
  }
  
  .projects_card p {
    text-align: left;
    margin-top: 24px;
    font-size: 15px;
  }
  .projects_card p span{
    text-decoration: underline;
  }
  
  .projects_btn {
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }
  
  .projects_card button,
  .projects_card button:active,
  .projects_card button:focus {
    text-decoration: none; /* Remove underline on click or focus */
  }
  
  .projects_card button {
    color: #fff;
    padding: 14px 24px;
    border: none;
    outline: none;
    border-radius: 20px;
    background: black;
    font-size: 1rem;
    transition: 0.35s all;
  }
  
  .projects_card button:hover {
    cursor: pointer;
    background: rgb(240, 240, 240);
    color: black;
  }
  
  .projects_card:hover {
    transform: scale(1.075);
    /*translate: 0 -10px;*/
    transition: 0.35s ease-in;
    cursor: pointer;
  }
  
  @media screen and (max-width: 1300px) {
    .background {
        height: 350vh;
    }
  }
  
  @media screen and (max-width: 768px) {
    .background {
        height: 450vh;
    }
  }